In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_excel('CMO-Historical-Data-Monthly.xlsx', sheet_name = 'Monthly Prices', skiprows = 4)

Rename columns (get rid of the comma and put specifications about the commodity between brackets). Drop columns of variables that do not have a current price listed

In [3]:
new_colnames = []
for colname in df.columns:
    if ',' in colname:
        splitted_colname = colname.split(',')
        new_colname = splitted_colname[0] + ' (' + splitted_colname[1].strip() + ')'
        new_colnames.append(new_colname)
    else:
        new_colnames.append(colname)

In [4]:
df.columns = new_colnames

In [5]:
col_selection = df.columns[df.iloc[-1].str.isnumeric().fillna(True)]

Create two series:
    - A series containing the commodities and the units by which they are measured
    - A series containing the commodities and their current prices in US Dollars

In [6]:
df_com_units = df[col_selection].iloc[0]
df_com_prices = pd.to_numeric(df[col_selection].iloc[-1])

In [7]:
df_com_prices

Crude oil (average)       103.413333
Crude oil (Brent)         105.780000
Crude oil (Dubai)         102.680000
Crude oil (WTI)           101.780000
Coal (South African)      302.000000
                            ...
Nickel                  33132.740000
Zinc                     4360.430000
Gold                     1936.860000
Platinum                  965.000000
Silver                     24.545000
Name: 749, Length: 67, dtype: float64

In [8]:
df_com_units.unique()

array(['($/bbl)', '($/mt)', '($/mmbtu)', '(2010=100)', '($/kg)',
       '($/cubic meter)', '(cents/sheet)', '($/dmtu)', '($/troy oz)'],
      dtype=object)

In [9]:
mult_factors_kilo = dict([('($/bbl)', None),
 ('($/mt)' , 1/1000),
 ('($/mmbtu)' , None),
 ('(2010=100)' , None),
 ('($/kg)' , 1),
 ('($/cubic meter)',None),
 ('(cents/sheet)',None),
 ('($/dmtu)',1/10),
 ('($/troy oz)',32.1507466)])

In [10]:
commodity_conv_kilo = df_com_units.map(mult_factors_kilo)

In [11]:
commodity_kilo_price = (commodity_conv_kilo * df_com_prices).dropna()

In [12]:
commodity_kilo_price

Coal (South African)            0.302000
Cocoa                           2.455350
Coffee (Arabica)                5.854148
Coffee (Robusta)                2.291041
Tea (avg 3 auctions)            3.266075
Tea (Colombo)                   4.166220
Tea (Kolkata)                   3.107004
Tea (Mombasa)                   2.525000
Coconut oil                     2.094610
Groundnuts                      1.443750
Fish meal                       1.643390
Groundnut oil                   2.145250
Palm oil                        1.682740
Palm kernel oil                 2.064310
Soybeans                        0.720790
Soybean oil                     1.947510
Soybean meal                    0.579450
Rapeseed oil                    2.266170
Sunflower oil                   2.275760
Maize                           0.348167
Rice (Thai 5%)                  0.431000
Rice (Thai 25%)                 0.429000
Rice (Thai A.1)                 0.409060
Rice (Viet Namese 5%)           0.402380
Wheat (US SRW)                  0.672457
Wheat (US HRW)                  0.495280
Banana (Europe)                 0.962408
Banana (US)                     1.457116
Orange                          0.907030
Beef                            6.128623
Meat (chicken)                  3.674826
Shrimps (Mexican)              14.991416
Sugar (EU)                      0.353469
Sugar (US)                      0.813505
Sugar (world)                   0.433428
Tobacco (US import u.v.)        4.165658
Cotton (A Index)                3.424216
Rubber (TSR20)                  1.702700
Rubber (SGP/MYS)                2.094400
Phosphate rock                  0.249500
DAP                             0.954000
TSP                             0.856000
Urea                            0.925000
Potassium chloride              0.562500
Aluminum                        3.244410
Iron ore (cfr spot)            15.125000
Copper                         10.161380
Lead                            2.380410
Tin                            42.991110
Nickel                         33.132740
Zinc                            4.360430
Gold                        62271.495060
Platinum                    31025.470469
Silver                        789.140075
dtype: float64

Write the commodity kilo price to csv, to make sure we have to to the data cleaning step just once.

In [13]:
commodity_kilo_price.to_csv('commodities_price_kilogram.csv')